<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="{% url 'homepage' %}">Inicio</a>
        <a href="{% url 'questionario' %}">Questionario de Perfil</a>
        <a href="{% url 'cursos' %}">Cursos</a>
        <a href="{% url 'profissoes' %}">Profissões</a>
        <a href="{% url 'favoritos' %}">Favoritos</a>
        <a href="{% url 'kappabot' %}">KappaBOT</a>
        <a href="{% url 'meuprogresso' %}">Meu progresso</a>
        <a href="{% url 'artigos' %}">Artigos e Vestibulares</a>
    </nav>
</body>
</html>